# SPDX-FileCopyrightText: Copyright (c) 2025 Yegor Bugayenko
# SPDX-License-Identifier: MIT

*.iml
.classpath
.DS_Store
.factorypath
.idea/
.mvn/wrapper/maven-wrapper.jar
.project
.recommenders
.settings
.tmp
.vscode/
__pycache__/
node_modules/
target/
