# SPDX-FileCopyrightText: Copyright (c) 2016-2026 Objectionary.com
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: fief
'on':
  schedule:
    - cron: "13 4 * * *"
concurrency:
  group: fief
  cancel-in-progress: true
jobs:
  fief:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4.7
          bundler-cache: true
      - run: gem install fief
      - run: |
          fief --token ${{ secrets.TOKEN }} --delay 1000 \
            --include objectionary/* \
            --include polystat/* \
            --exclude objectionary/.github \
            --exclude polystat/.github \
            --to html
      - run: mkdir gh-pages
      - run: cp html/index.html gh-pages/fief.html
      - uses: JamesIves/github-pages-deploy-action@v4.7.3
        with:
          branch: gh-pages
          folder: gh-pages
          clean: false
