# SPDX-FileCopyrightText: Copyright (c) 2016-2026 Objectionary.com
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: pages
'on':
  push:
    branches:
      - master
    tags:
      - '*'
  release:
jobs:
  pages:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - run: |
          mkdir -p data
          find objects -name '*.eo' > data/objectionary.lst
      - uses: JamesIves/github-pages-deploy-action@v4.8.0
        with:
          branch: gh-pages
          folder: data
          clean: false
