# SPDX-FileCopyrightText: Copyright (c) 2016-2026 Objectionary.com
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: pdd
'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  pdd:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: volodya-lombrozo/pdd-action@master
      - run: sudo apt-get update --yes --fix-missing && sudo apt-get install --yes ruby-dev libmagic-dev zlib1g-dev
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4.8
          bundler-cache: true
      - run: gem install pdd
      - run: pdd --format xml . | grep -v 'puzzle '
