# SPDX-FileCopyrightText: Copyright (c) 2016-2026 Objectionary.com
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: python-lint
'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  python-lint:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: "3.14.3"
      - name: Install wemake-python-styleguide
        run: pip install ruff==0.9.4
      - name: Run ruff
        run: ruff check py
