name: releases

on:
  schedule:
    - cron: "0 * * * *"

jobs:
  check-releases:
    runs-on: ubuntu-20.04
    steps:
      - name: checkout code
        uses: actions/checkout@v3
      - name: install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y python3 python3-pip
          pip3 install requests
      - name: install ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.0'
      - name: install pdd
        run: gem install pdd
      - name: pull releases
        run: |
          python3 auto-pull.py
      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v5
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
#          passphrase: ${{ secrets.PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true
          git_push_gpgsign: ""
      - name: create pull request
        uses: peter-evans/create-pull-request@v5
        with:
          token: ${{ secrets.TOKEN }}
          committer: yegor256 <yegor256@gmail.com>
          commit-message: New release for ${{ env.eo_lib_version }}
          title: New release for ${{ env.eo_lib_version }}
          body: New release for ${{ env.eo_lib_version }}
          base: master
          branch: update-${{ env.eo_lib_version }}
          delete-branch: true
