# SPDX-FileCopyrightText: Copyright (c) 2016-2026 Objectionary.com
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: tags
'on':
  push:
    branches:
      - master
    tags:
      - '*'
  release:
jobs:
  tags:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - run: |
          mkdir -p data
          git fetch --tags --all --force
          git tag --list --format='%(*objectname) %(refname:short)' | grep '^[a-f0-9]' > data/tags.txt
          echo "$(git rev-parse HEAD) master" >> data/tags.txt
      - uses: JamesIves/github-pages-deploy-action@v4.7.3
        with:
          branch: gh-pages
          folder: data
          clean: false
